<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Chat App</title>
	<script src="/socket.io/socket.io.js"></script>
	<script defer src="script.js"></script>
</head>
<body>
	<form action="/room" method="POST">
		<button type="submit">Play!</button>
	</form>
</body>
</html>