<!DOCTYPE html>
<html>
<head>
	<title>Typing Race</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="room.css">
	<script>
		const roomName = "<%= roomName %>"
	</script>
  	<!-- <script src="http://localhost:3000/socket.io/socket.io.js"></script> -->
  	<script src="/socket.io/socket.io.js"></script>
  	<script defer src="script.js"></script>
</head>
<body>
	<div class="board">
		<div id="waiting-area">Waiting for players...</div>
		<br>
		<div class="track-area" id="track-area">
		</div>
		<br>
		<div class="text-area" id="text-area"></div>
		<div class="keyboard-area">
			<input type="text" name="keyboard-input" id="keyboard-input" class="keyboard-input" oninput="characterPosition()" disabled="true">
			<div class="keyboard-input" id="game-over">Game over!</div>
		</div>
	</div>
	<br>
</body>
</html>